*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: center;
  padding-right: 5px;
  background: #e785b1;
}

a{
  text-decoration: none;
  color: #1e2442;
  padding: 10px;
  font-size: 20px;
 
}
ul{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  
}

h1{
  display: flex;
  justify-content: left;
  align-items: left;
  color: #214433;
}

